{% extends 'search/base.html' %}

{% load blog_extras %}

{% block content %}
<style>
  button {
            height: 52px;
            width: 150px;
            color: #fff;
            background-color: #ff4f12;
            border: 2px solid #ff4f12;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            margin-top: 20px;
        }
  #question-for-teacher{
            width: 500px;
            border: 2px solid #e7e7e9;
            padding: 12px 20px;
            font-size: 18px;
            line-height: 28px;
        }
        #email {
            width: 350px;
            border: 2px solid #e7e7e9;
            padding: 12px 20px;
            font-size: 18px;
            line-height: 28px;
        }
        #number {
            width: 100px;
            border: 2px solid #e7e7e9;
            padding: 12px 20px;
            font-size: 18px;
            line-height: 28px;
        }

        #id_question {
            width: 500px;
            border: 2px solid #e7e7e9;
            padding: 12px 20px;
            font-size: 18px;
            line-height: 28px;
        }
        #id_number_work {
            border: 2px solid #e7e7e9;
            padding: 12px 20px;
            font-size: 18px;
            line-height: 28px;
        }
        .input-form {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
</style>
  <div class="box">
    <section class="hero is-primary is-medium">
      <div class="hero-body">
        <p class="title">{{ post.question }}</p>
        <p class="subtitle">{{ post.created_at }}</p>

      </div>
    </section>

    <div class="content intro">
      <p>Есть ли ответ? {{ post.is_answered }}</p>
    </div>
    <div class="content">
      {{ post.answer|convert_markdown|safe }}
    </div>
  </div>

  <form action="{% url 'send' %}" method="post" class="input-form">
<!--      <input type="text" name="question-for-teacher" placeholder="Задайте вопрос преподавателю" maxlength="200" id="question-for-teacher">-->
<!--      <input type="number" name="number" placeholder="№" maxlength="200" id="number">-->
<!--      <input type="text" name="email" placeholder="E-mail" maxlength="200" id="email">-->
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary btn-block">Задать вопрос</button>
  </form>

{% endblock %}