{% extends 'search/base.html' %}

{% block content %}

    <h1>Найдено {{ lenght }} результатов</h1>

    {% if lenght == 0 %}
        <p class="title">Ничего не нашли</p>
        <p class="subtitle">Ваш вопрос был отправлен преподавателю</p>
    {% endif %}

  {% for post in posts %}
    <div class="box">
      <section class="hero is-primary" style="height: 100px; justify-content: center;">
        <div class="hero-body">
          <p class="title">{{ post.question }}</p>
          <p class="subtitle">{{ post.created_at }}</p>

        </div>
      </section>

      <div class="content">
<!--        <p>Есть ли ответ? {{ post.is_answered }}</p>-->

        <a href="{% url 'detail' post.id %}"><button>Читать статью</button></a>
      </div>
    </div>
  {% endfor %}
{% endblock %}